<body>
    <h1>Start new game</h1>

    <!-- Container for game elements -->
    <div class="container">
        <div id="wordBlocks"></div>

        <div id="constructedSentence"></div>

        <button id="confirmButton">Confirm</button>

        <div id="message"></div>
    </div>

    <!-- Legend blocks in the top right corner -->
    <div class="legend">
        <div class="block" style="background-color: red;">Verb</div>
        <div class="block" style="background-color: blue; color: white;">Object</div>
        <div class="block" style="background-color: black; color: white;">Subject</div>
    </div>
    

    <script src="/scripts/game.js"></script>
</body>
