<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lenguigi game</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <h1>Start new game</h1>

    <div id="wordBlocks">
        <div class="block" data-type="pronoun">yo</div>
        <div class="block" data-type="verb">como</div>
        <div class="block" data-type="noun">tacos</div>
    </div>

    <div id="constructedSentence"></div>

    <button id="confirmButton">Confirm</button>

    <div id="message"></div>

    <script src="/scripts/game.js"></script>
</body>

</html>
