<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lenguigi</title>
    <p>Learn Spanish through connecting blocks!</p>
    <a href="/game" class="start-button">Start Game</a>
    <a href="/sentenceCreator" class="login-button">Sentence Creator</a>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

</body>
</html>