<body>
    <h1>Create your own sentences</h1>
    <div class="container">

      <div id="wordBlocks">
        <!-- Words will be displayed here -->
      </div>


      <div id="constructedSentence">
        <!-- User-constructed sentence will appear here -->
      </div>

      <button id="confirmButton">Confirm</button>

      <div id="message"></div>

    </div>
    <script src="/scripts/sentenceCreator.js"></script>
  </body>